.ribbon-container {
  position: relative;
  overflow: hidden;

  &__ribbon {
    background: white;
    position: absolute;

    width: 200px;
    height: 20px;
    top: 120px;
    right: -20px;

    text-align: center;
    text-transform: uppercase;
    transform-origin: top right;
    transform: rotate(45deg);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
  }
}
